body{

}

#background{
    background: url("../images/bees.jpg") no-repeat;
    background-size: cover;
    width: 100%;
}

.container-fluid  {
    background-color: rgba(0,0,0,0.8);
    height: 100vh;
}

.col-xs-4{
    text-align: center;
}

#video{
    /*background: green;*/
    width: 100%;
    height: 85vh;
    z-index: -1;
}

#scanButton{
    background: url("../images/scanButton2.png");
    background-size: cover;
    width: 12vh;
    height: 12vh;
    border: none;
    margin: 2vh;
    outline: 0;
}

#scanButton:active{
}

.video-border {
    width: 100%;
    height: 80vh;
    margin-top: 16px;
    border-radius: 5px;
    overflow: hidden;
}

#image{
    text-align: center;
    background: url("../images/zonnebloem1.png") no-repeat;
    background-size: cover;
    height: 63vh;
}

#score{
    text-align: center;
    font-size: 100px;
    color: white;
    height: 10vh;
}


#title{
    text-align: center;
    font-size: 150px;
    color: white;
    height: 10vh;
}

#backButton {
    width: 12vh;
    height: 12vh;
    background: url("../images/backButton1.png") no-repeat;
    background-size: cover;
    border: none;
    margin: 2vh;
    margin-left: auto;
    margin-right: auto;
}

#backButtonContainer {
    margin-left: auto;
    margin-right: auto;
}

